body{
	font-size: 14px;
}

h1{ font-size: 55px; line-height: 41px; margin-bottom: 30px; }

aside{
	display: none;
}

p.cell-6{ width: 100%; }

/*****************
	Header
*****************/

header{
	background-color: #1C84C1;
	z-index: 3;
}

header > .cell{
	padding: 21px;
}

header .icon-simbolo_nospacing{
	font-size: 32px;
}

header .icon-menu{
	float: right;
	font-size: 32px;
}

header .icon-menu.off{
	display: none;
}

/*****************
	Nav
*****************/

nav{
	width: 100%;
	position: fixed;
	z-index: 2;
}

nav.on{
	z-index: 4;
	height: 100%;
}

.featured-nav{
	width: 100%;
	position: absolute;
	left: 0;
	top: 77px;
}

.featured-nav > li.auto{
	background-color: rgba(234,178,58,.95);
}

.featured-nav > li{
	display: table-cell;
	padding: 10px 5px;
}

.featured-nav > li > a{
	font-size: 12px;
	font-weight: 500;
	color: #2A2F40;
}

.featured-nav > li:last-of-type > a{
	border: none;
}

.main-nav{
	display: none;
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 4;
	top: 0;
	right: 0;
	background-color: #FFF;
	padding: 15px 20px 50px 50px;
}

.main-nav.on{
	display: table;
}

.main-nav > li{
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

.main-nav > li > a{
	font-size: 18px;
}

.main-nav > li.close{
	font-size: 32px;
	text-align: right;
	color: #1C84C1;
	margin-bottom: 30px;
}

.main-nav > li.opt{
	margin-top: 30px;
}

.main-nav > li.opt > a{
	color: #C11C3E;
}



/*****************
	Content
*****************/

.content > .grid-x > .cell{
	padding:80px 20px 60px 20px;
}

summary.grid-y{
	display: none;
}

/*****************
	Home
*****************/

.home .logotipo{
	display: none;
}

.home > .grid-x > .cell{
	width: 100%;
}

.home .background{
	background-size: 1024px auto;
}

.home .background > .icon-logotipo{
	display: block;
	text-align: center;
	font-size: 120px;
	margin-top: 160px;
}

/*****************
	Quem Somos
*****************/

#quem_somos{
	background-size: auto 320px;
	background-position: center bottom;
	background-attachment: inherit;
	padding-bottom: 280px;
	}

/*****************
	Grids
*****************/

.grid-icon > .cell{
	padding:15px;
}

.grid-icon > .cell > span{
	font-size: 40px;
	margin-bottom: 15px;
}

.grid-image > .cell{
	padding:200px 15px 15px 15px;
}

.grid-image > .cell > div{
	height: 185px;
	margin-bottom: 15px;
	background-size: auto 185px;
}

/*****************
	Nav
*****************/

nav > ul > li.shrink{
	display: none;
}

/*****************
	Projeto
*****************/

.projeto.grid-x > .cell{
	padding: 0;
	padding-top: 130px;
}

.projeto > .cell > .grid-x > .cell{
	padding: 20px;
}

.projeto .tags {
    padding: 20px 0;
    margin-bottom: 10px;
}

.projeto > .cell > .grid-x > .cell > ul > li{
	padding: 10px;
}

.projeto h4,
.projeto h5{
	font-size: 25px;
}

.projeto h5{
	background-color: rgba(0,0,0,.2);
	padding: 10px;
	margin: 20px 0;
}

.projeto .socials{
	font-size: 20px;
}

.projeto > .cell > .grid-x > .cell > ul > li{
	display: block;
	width: 100%;
}

.projeto .content-background{
	height: 350px;
}


/*****************
	Gallery
*****************/

.gallery{
	height: 480px;
}

.featured-items > .cell > .grid-x > .image{
	height: 200px;
}


@media only screen and (max-width: 520px){

	.main-nav{
		width: 75%;
	}

	.home .background{
		background-size: 720px auto;
	}

	
	.home .background > .icon-logotipo{
		margin-top: 200px;
	}

	/*****************
		Projeto
	*****************/

	.projeto.grid-x > .cell{
		padding-top: 145px;
	}

	.projeto > .cell > .grid-x > .cell{
		padding: 5px;
	}

	/*****************
		Gallery
	*****************/

	.gallery{
		height: 380px;
		border: 10px solid #FFF;
	}

}