body,html{
	font-family: 'Mitr', sans-serif;
	/*font-family: 'Squada One', cursive;*/
	font-size:16px;
	min-width: 320px;
}

ul, ul > li, ul ul{padding: 0; margin: 0; list-style: none;}

h1,h2,h3,h4,h5,h6{
	font-family: 'Mitr', sans-serif; /* 300,500 */
	line-height: 1.1;
}

h1{ font-weight: 500; }
h3{ font-weight: 300; }