<!DOCTYPE html>
<html>
<head>
	<title>MS Arandu - Construtora e Incorporadora</title>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="/templates/msarandu/images/favicon.ico">
	<link rel="apple-touch-icon" href="/templates/msarandu/images/shortcut.png">

	<link href="https://fonts.googleapis.com/css?family=Mitr:300,500|Squada+One" rel="stylesheet">

	<link rel="stylesheet" href="/vendor/zurb/foundation/dist/css/foundation.min.css" type="text/css">

	<link rel="stylesheet" type="text/css" href="/templates/msarandu/icomoon/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/templates/msarandu/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/templates/msarandu/css/desktop.css" type="text/css" media="only screen and (min-width: 1024px)">
	<link rel="stylesheet" type="text/css" href="/templates/msarandu/css/mobile.css" type="text/css" media="only screen and (max-width: 1023px)">

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!--script src="/templates/msarandu/js/script.js"></script-->
</head>
<body>