<nav class="{if="$page!='home'"}locked{/if}">
    <ul class="grid-x featured-nav">
        <li class="cell shrink"><img src="/templates/msarandu/images/nav-bg-top.png"></li>
        <li class="cell auto"><a href="javascript:contact('1');">Venda seu terreno</a></li>
        <li class="cell auto"><a href="javascript:contact('3');">Seja um investidor</a></li>
        <li class="cell auto"><a href="javascript:contact('2');">Compre seu imóvel</a></li>
    </ul>
    <ul class="grid-x main-nav">
        <li class="cell close"><span class="icon-x-circle"></span></li>
        <li class="cell shrink"><img src="/templates/msarandu/images/nav-bg-bottom.png"><img src="/templates/msarandu/images/nav-bg-bottom-color.png" class="color"></li>
        <li class="cell auto"><a href="quem_somos">Quem Somos</a></li>
        <li class="cell auto"><a href="servicos">Serviços</a></li>
        <li class="cell auto"><a href="projetos">Projetos</a></li>
        <li class="cell auto"><a href="parceiros">Parceiros</a></li>
        <li class="cell auto last"><a href="contato">Contato</a></li>
        <li class="cell opt"><a>Compre agora! Ligue <br>(11) 99999-9999</a></li>
    </ul>
</nav>